<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthUpdateUsageDescription</key>
	<string>EMOM timers wants to access your health data in order to analyze your health and best advice</string>
	<key>NSHealthShareUsageDescription</key>
	<string>EMOM timers wants to access your health data in order to analyze your health and best advice</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array/>
	<key>WKBackgroundModes</key>
	<array>
		<string>physical-therapy</string>
	</array>
</dict>
</plist>
