<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   EMOM timers.plist
   EMOM timers

   Created by Javier Calartrava on 19/4/24.
   Copyright (c) 2024 ___ORGANIZATIONNAME___. All rights reserved.
TODO: TRY TO REMOVE THIS FILE FOR CHECKIN IF THIS IS REALLY NECESSARY
-->
<plist version="1.0">
    <dict>
        <key>UIRequiredDeviceCapabilities</key>
        <array>
            <string>healthkit</string>
        </array>
        <key>NSHealthUpdateUsageDescription</key>
        <string>EMOM timers wants to access your health data in order to analyze your health and best advice</string>
        <key>NSHealthShareUsageDescription</key>
        <string>EMOM timers wants to access your health data in order to analyze your health and best advice</string>
    </dict>
</plist>
